---
import FileDrop from "./FileDrop.astro";
import Brand from './Brand.astro';
---

<div id="container">
	<main>
		<section id="hero">
			<Brand />
			<h3>
				To get started, <code><pre>drop a file</pre></code> down below.
			</h3>
			<FileDrop />
		</section>
	</main>
</div>
